<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp1Ls0ZhoK8fDwyfsE3lQhdQQs6NE0dGo</string>
	<key>GCM_SENDER_ID</key>
	<string>348132926457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.epic</string>
	<key>PROJECT_ID</key>
	<string>epic-a1e45</string>
	<key>STORAGE_BUCKET</key>
	<string>epic-a1e45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348132926457:ios:95f0794d5f2c9ac500d328</string>
	<key>DATABASE_URL</key>
	<string>https://epic-a1e45-default-rtdb.firebaseio.com</string>
</dict>
</plist>